<a href="https://colab.research.google.com/github/pegahl/DataMiningFinalPr/blob/main/Pr_Data_Cleaning_MHD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import numpy as np
import re
import pandas as pd
import matplotlib.pyplot as plt

## **Load Data **

---
We use MASHAD_study_for_merge dataset as the original dataset

In [75]:
df=pd.read_excel('/content/MASHAD study for merge.xlsx', index_col=0)

df.head()

,Total9704,syndromeMetabolic,Syndromecomponent0,Syndromecomponent1,Syndromecomponent2,Syndromecomponent3,Syndromecomponent4,Syndromecomponent5,Syndromecomponents,Waistcir,...,year_brainendpoint,CVD_Status2,YearofCVDevent,CVDendpoint,Admission2.year,Admission2.month,Admission2.day,CVD2plusCVDdeath,GFR_MDRD,GFR_CAT
File.No,,,,,,,,,,,,,,,,,,,,,
1,1,2.0,0.0,0.0,1.0,0.0,0.0,0,2.0,87.0,...,NaN,1.0,NaN,NaN,1398.0,4.0,17.0,1.0,NaN,NaN
2,1,1.0,0.0,0.0,0.0,1.0,0.0,0,3.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2.0,1.0,0.0,0.0,0.0,0.0,0,0.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0.0,0.0,0.0,0.0,0.0,0,0.0,85.0,...,NaN,1.0,NaN,NaN,1398.0,4.0,24.0,1.0,NaN,NaN
5,1,2.0,0.0,0.0,1.0,0.0,0.0,0,2.0,100.0,...,NaN,1.0,NaN,NaN,1398.0,2.0,17.0,1.0,NaN,NaN

In [76]:
df.columns.shape

(778,)

In [77]:
df['syndromeMetabolic'].unique()

array([ 2.,  1., nan])

**Create a new csv file for selected featuers**

In [82]:
csv_file = "MASHAD study for merge-Origin - fnames.csv"
df_column_names = pd.read_csv(csv_file)

# Extract the selected column names from the DataFrame
print(df_column_names)
selected_columns = df_column_names['syndromeMetabolic'].tolist()
print(selected_columns)

      syndromeMetabolic
0    Syndromecomponent0
1    Syndromecomponent1
2    Syndromecomponent2
3    Syndromecomponent3
4    Syndromecomponent4
..                  ...
339  year_brainendpoint
340      YearofCVDevent
341         CVDendpoint
342            GFR_MDRD
343             GFR_CAT

[344 rows x 1 columns]
['Syndromecomponent0', 'Syndromecomponent1', 'Syndromecomponent2', 'Syndromecomponent3', 'Syndromecomponent4', 'Syndromecomponent5', 'Syndromecomponents', 'Waistcir', 'TGCHOL', 'Sex', 'BPS', 'BPD', 'Glocuse', 'LdL', 'Cholesterol', 'HDL', 'TRIGLYCERIDES', 'Dyslipidemia', 'Diabete', 'HSCRP', 'NIGHTLYS', 'age_1', 'B_Smoking', 'edulevel', 'Jobstatu', 'MemberCountH', 'Height', 'Weight', 'AnxietyScore', 'DepressionScore', 'Name', 'Family', 'FatherName', 'Age', 'Nationality', 'TelHome', 'TelWork', 'Mobile', 'Address1', 'NAMEH', 'FamilyH', 'SexH', 'TelH', 'JobStatusH', 'JobLastH', 'SalaryH', 'EduLevelH', 'DegreeLastH', 'FamilCountH', 'LifePlaceH', 'UnitCountH', 'HaveCarH', 'Status_i', 'Degreela', 'joblast', 'Marriage', 'A_Smoked', 'smokingstutus', 'B1', 'B2', 'B3', 'B4', 'D_CIGNAME', 'C_SmokingTime', 'E_CigCount', 'E1_SmokedTime', 'F_CigLeaveReason', 'F1_CigLeaveTime', 'ABLETOWALK', 'VERYACT_W', 'ACTIVE_W', 'INACTIVE_W', 'VERYACT_Out', 'ACTIVE_Out', 'INACTIVE_Out', 'STUDYINB', 'DAILYNAP', 'HAVE_DYS', 'COUNT_DY', 'COUNT_1', 'HAVE_ACT_Ch', 'HOWLONG_', 'STAYINBE', 'STAYIN1', 'IA1', 'IA2', 'IA3', 'IA4', 'IB1', 'IB2', 'IB3', 'IB4', 'PREDISEASE', 'J1', 'J2', 'J3', 'J4', 'J5', 'J1D', 'J2D', 'J3D', 'J4D', 'J5D', 'J6_PDISE', 'J7', 'J8', 'J9', 'J10', 'K', 'K2_USUAL', 'L1', 'L2', 'L3', 'L4', 'L5', 'L6', 'L6_OtherMethod', 'L7', 'L8', 'L9', 'L10', 'L11a', 'L11b', 'L11c', 'L12', 'L13_JDeadCount', 'L14', 'L15', 'L16', 'L17', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9_Desc', 'IJ1', 'IJ2', 'IJ3', 'IJ4', 'IJ5', 'IJ6', 'IJ7', 'IJ8', 'IJ9', 'Height3', 'Weight3', 'BMI', 'BMIC', 'Demispan', 'Demispan2', 'Demispan3', 'Demispan4', 'WaistCir2', 'WaistCir3', 'WaistCir4', 'Hipcir', 'Waisthight', 'Waisthip', 'HipCir2', 'HipCir3', 'HipCir4', 'Midarmcir', 'MidArmCir2', 'MidArmCir3', 'BloodP1_S1', 'BloodP1_D1', 'BloodP1_S2', 'BloodP1_D2', 'BloodP1_S3', 'BloodP1_D3', 'BPSC', 'BPDC', 'BPD1', 'BPS1', 'HTN', 'HTN2', 'BloodP1_NCount', 'RFoodP_S', 'RFoodP_D', 'DepressionResult1', 'DepressionResult2', 'DepressionType', 'DepressionBoresh', 'ReftoDoctor', 'ReftoDoctorDate', 'DoctorName', 'RefertoDoctor', 'RefertoDrResult', 'NoRefertoDrCause', 'VisitType', 'VisitDate', 'CallCount', 'VascularProblems', 'SakteCount', 'MedicineChangeDesc', 'SuffertoDisease', 'NeedToHospital', 'NeedToHospitalDate', 'Signs', 'CurativeActions', 'CurativeDoctorName', 'PrescribedMedicines', 'HospitalName', 'SpecialDiseaseName', 'CompleteStudy', 'NoCompleteCause', 'NoCompleteOCause', 'LastVisitDate', 'Nobat1', 'DeadDisease', 'DeadCause', 'DeadTime', 'HospitalName1', 'DoctorName1', 'Uricacid', 'TGC', 'Mode', 'WBC', 'RBC', 'HGB', 'Anemi', 'HCT', 'MCV', 'MCH', 'MCHCat', 'MCHC', 'Anemia', 'Anemiagroup', 'PLT', 'LYM_P', 'MXD_P', 'NEUT_P', 'RDW', 'undiagnosedHTN', 'UricacidC', 'PDW', 'MPV', 'P_LCR', 'edible', 'water.g', 'Tot.N2g', 'protein.g', 'fat.g', 'cho.g', 'energy.kcal', 'energy.kj', 'starch.mg', 'Tot.sug.mg', 'NMES.g', 'glucose.g', 'fructose.g', 'sucrose.g', 'maltose.mg', 'lactose.mg', 'NSP.g', 'fiber.g', 'satfat.g', 'monoufat.g', 'polyufat.g', 'transfat.g', 'chlostrol.mg', 'sodium.mg', 'potassium.g', 'calcium.g', 'magnesium.mg', 'phosphor.mg', 'iron.mg', 'cooper.mg', 'zinc.mg', 'chloride.mg', 'manganese.mg', 'selenium.mg', 'iodine', 'retinol', 'carotene', 'vit.D', 'vit.E', 'thiamin.mg', 'riboflavin.mg', 'niacin.mg', 'trypt.60', 'vitB6.mg', 'vit.B12', 'folate', 'pantothene', 'biotin', 'vit.C.mg', 'wateradj', 'proteinadj', 'choadj', 'cholorideadj', 'fatadj', 'PAR1', 'PAR2', 'PAR3', 'PAR4', 'PAR5', 'PAR6', 'PAR7', 'TEE', 'Triglyceridehdl', 'creatinin', 'BIL.T2', 'AST2', 'ALT2', 'TIBC', 'FERRITIN', 'ANTI_HSP', 'SyndromeC', 'PAB', 'GlucoseCATP', 'HscrpC', 'rh', 'AnemiaIron', 'BPC', 'undiagnoseddiabetes', 'AnemiaHGB', 'CVD_phase1', 'QRSDuration', 'QTMin', 'QTMax', 'HR', 'CVD_family_history', 'Death_year', 'Death_month', 'Death_day', 'DeathCause.Total', 'DeathCause.Detailed', 'FIRSTadmission.year', 'FIRSTadmission.month', 'FIRSTadmission.day', 'Heart_Status2', 'Heartendpoint_c', 'Brain_Status2', 'BrainEndpoint_c', 'year_brainendpoint', 'YearofCVDevent', 'CVDendpoint', 'GFR_MDRD', 'GFR_CAT']

In [83]:
df_selected = df[selected_columns]
output_csv_file = "selected_columns.csv"
df_selected.to_csv(output_csv_file, index=False)
print("Selected columns saved to", output_csv_file)

Selected columns saved to selected_columns.csv

In [84]:
selected_df=pd.read_csv('/content/selected_columns.csv', index_col=0)
row_number=selected_df.shape[0]
print("row number="+str(row_number))
print("column number="+str(selected_df.shape[1]))

row number=500
column number=343

## Missing Vlaues

In [85]:
# Detect missing values
missing_values = selected_df.isnull().sum()

print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Syndromecomponent1      2
Syndromecomponent2      6
Syndromecomponent3      4
Syndromecomponent4      4
Syndromecomponent5      0
                     ...
year_brainendpoint    491
YearofCVDevent        441
CVDendpoint           438
GFR_MDRD              175
GFR_CAT               175
Length: 343, dtype: int64

In [86]:
columns_without_missing_values = []
columns_with_missing_values = []
# Iterate over the missing_values Series
for column, missing_count in missing_values.items():
    if missing_count == row_number:  # If there are no missing values in the column
        columns_with_missing_values.append(column)
    elif missing_count==0:
          columns_without_missing_values.append(column)

print("Columns without missing values:", columns_without_missing_values)
print("Columns with missing values:", columns_with_missing_values)
print(len(columns_with_missing_values))
print(len(columns_without_missing_values))

Columns without missing values: ['Syndromecomponent5', 'Waistcir', 'Sex', 'NIGHTLYS', 'B_Smoking', 'Jobstatu', 'Weight', 'AnxietyScore', 'Name', 'Family', 'Nationality', 'Address1', 'NAMEH', 'FamilyH', 'SexH', 'JobStatusH', 'JobLastH', 'DegreeLastH', 'FamilCountH', 'LifePlaceH', 'HaveCarH', 'Marriage', 'A_Smoked', 'smokingstutus', 'VERYACT_W', 'ACTIVE_W', 'INACTIVE_W', 'VERYACT_Out', 'ACTIVE_Out', 'INACTIVE_Out', 'STUDYINB', 'DAILYNAP', 'HAVE_DYS', 'COUNT_DY', 'COUNT_1', 'HAVE_ACT_Ch', 'HOWLONG_', 'STAYINBE', 'STAYIN1', 'IA1', 'IA2', 'IA3', 'IA4', 'IB1', 'IB2', 'IB3', 'IB4', 'J1', 'J2', 'J3', 'J4', 'J7', 'J9', 'J10', 'K', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'IJ1', 'IJ2', 'IJ3', 'IJ4', 'IJ5', 'IJ6', 'IJ7', 'IJ8', 'IJ9', 'BMIC', 'Hipcir', 'Waisthip', 'Midarmcir', 'BPD1', 'BPS1', 'Anemia', 'Anemiagroup', 'PAR1', 'PAR2', 'PAR3', 'PAR4', 'PAR5', 'PAR6', 'PAR7', 'TEE', 'SyndromeC', 'AnemiaIron', 'BPC', 'AnemiaHGB', 'CVD_phase1', 'FIRSTadmission.year', 'FIRSTadmission.month', 'FIRSTadmission.day']
Columns with missing values: ['EduLevelH', 'V9_Desc', 'Height3', 'Weight3', 'RFoodP_S', 'RFoodP_D', 'NoCompleteOCause', 'DoctorName1', 'Mode', 'edible', 'water.g', 'Tot.N2g', 'protein.g', 'fat.g', 'cho.g', 'energy.kcal', 'energy.kj', 'starch.mg', 'Tot.sug.mg', 'NMES.g', 'glucose.g', 'fructose.g', 'sucrose.g', 'maltose.mg', 'lactose.mg', 'NSP.g', 'fiber.g', 'satfat.g', 'monoufat.g', 'polyufat.g', 'transfat.g', 'chlostrol.mg', 'sodium.mg', 'potassium.g', 'calcium.g', 'magnesium.mg', 'phosphor.mg', 'iron.mg', 'cooper.mg', 'zinc.mg', 'chloride.mg', 'manganese.mg', 'selenium.mg', 'iodine', 'retinol', 'carotene', 'vit.D', 'vit.E', 'thiamin.mg', 'riboflavin.mg', 'niacin.mg', 'trypt.60', 'vitB6.mg', 'vit.B12', 'folate', 'pantothene', 'biotin', 'vit.C.mg', 'wateradj', 'proteinadj', 'choadj', 'cholorideadj', 'fatadj', 'rh']
64
96

In [87]:
columns_to_check = ['EduLevelH']  # Replace with your desired column names

# Detect missing values only for the specified columns
missing_values = df[columns_to_check].isnull().sum()

print("Missing values in each specified column:")
print(missing_values)

Missing values in each specified column:
EduLevelH    500
dtype: int64

In [88]:
selected_df.drop(columns=columns_with_missing_values, inplace=True)
selected_df.shape

(500, 279)

## Check for duplicated featuers

In [90]:
duplicate_rows = selected_df[selected_df.duplicated()]

# Print the duplicate rows
print("Duplicate rows:")
print(duplicate_rows)

Duplicate rows:
Empty DataFrame
Columns: [Syndromecomponent1, Syndromecomponent2, Syndromecomponent3, Syndromecomponent4, Syndromecomponent5, Syndromecomponents, Waistcir, TGCHOL, Sex, BPS, BPD, Glocuse, LdL, Cholesterol, HDL, TRIGLYCERIDES, Dyslipidemia, Diabete, HSCRP, NIGHTLYS, age_1, B_Smoking, edulevel, Jobstatu, MemberCountH, Height, Weight, AnxietyScore, DepressionScore, Name, Family, FatherName, Age, Nationality, TelHome, TelWork, Mobile, Address1, NAMEH, FamilyH, SexH, TelH, JobStatusH, JobLastH, SalaryH, DegreeLastH, FamilCountH, LifePlaceH, UnitCountH, HaveCarH, Status_i, Degreela, joblast, Marriage, A_Smoked, smokingstutus, B1, B2, B3, B4, D_CIGNAME, C_SmokingTime, E_CigCount, E1_SmokedTime, F_CigLeaveReason, F1_CigLeaveTime, ABLETOWALK, VERYACT_W, ACTIVE_W, INACTIVE_W, VERYACT_Out, ACTIVE_Out, INACTIVE_Out, STUDYINB, DAILYNAP, HAVE_DYS, COUNT_DY, COUNT_1, HAVE_ACT_Ch, HOWLONG_, STAYINBE, STAYIN1, IA1, IA2, IA3, IA4, IB1, IB2, IB3, IB4, PREDISEASE, J1, J2, J3, J4, J5, J1D, J2D, J3D, J4D, ...]
Index: []

[0 rows x 279 columns]

## Detect unknown values

In [101]:
selected_df['RefertoDrResult'].unique()
df1=selected_df

In [105]:
pattern = re.compile(r'\?+')
columns_with_question_mark = df1.columns[df1.astype(str).apply(lambda x: x.str.contains(pattern, regex=True)).any()]

print("Columns containing '?' or '??' and so on:")
print(columns_with_question_mark)

Columns containing '?' or '??' and so on:
Index(['Family', 'joblast', 'L6_OtherMethod', 'RefertoDrResult',
       'HospitalName1'],
      dtype='object')

In [111]:
# Replace values matching the pattern with -1
df1.replace(pattern, -1, regex=True, inplace=True)

## Add city code and phase number to dataset

In [114]:

new_value = "MHD"
df1['City_code'] = new_value
selected_df=df1

In [115]:
output_csv_file = "selected_columns.csv"
selected_df.to_csv(output_csv_file, index=False)
print("Selected columns saved to", output_csv_file)
print(selected_df.shape)

Selected columns saved to selected_columns.csv
(500, 280)